body {
    background-color: #ccc;
}
#годиник🕰{
    width: 500px;
    height: 500px;
    background-image: url(imeg/циферблат⏳.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
#секундна-стрілка{
    position: absolute;
    width: 38px;
    height: 416px;
    background-image: url("imeg/секундна стрілка.png");
    background-size: cover;
}